﻿/* OST Style Sheet */
/* November 2009 */
body
{
  margin: 0px;
  padding: 0px;
  background-color: #B3B3B3;
  background-image: url('file:///C:/Users/vancilj/Documents/Visual Studio 2008/Projects/PMO/PmoSurvey/WebApplication1/Images/bg_polka.gif');
  background-position: center 0px;
}
.centeringPanel
{
  width: 896px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
  height: 760px;
  background-color: white;
}
.centeringExtendedPanel
{
  width: 896px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: white;
}
.appTitle
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
	color: #007DB2;
}
.menuPanel
{
	background-color: #DFDFDF;
}
.menuLink
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
	text-decoration: none;
}
.menuLink:hover
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	background-color: #999999;
	text-decoration: none;
}
.normalLabel
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #000000;
  font-weight: bold;
}
.whiteLabel
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: white;
  font-weight: bold;
}
.normalField
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
}
.whiteField
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: white;
}
.messageLabel
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FF0000;
}
/*                                        */
/* Begin PMO Specific Applications Styles */
/*                                        */
.pmoLink
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #0000FF;
	text-decoration: none;
}
.pmoLink:hover
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #0000FF;
	background-color: #C0C0C0;
	text-decoration: none;
}
.appPanel
{
	border: 1px solid #808080;
}
.appMeasuresPanel
{
	border: 1px solid #808080;
	background-color: #A8E2FF;
}
.utilityPanel
{
	border: 1px solid #808080;
	background-color: #FEFFD5;
}
.appSowCreatePanel
{
	border: 1px solid #808080;
	background-color: #D6D8D8;
}
.appProjectListPanel
{
	border: 1px solid #808080;
	background-color: #C0C0C0;
}
.titleLabel
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	font-weight: bold;
	background-color: #C0C0C0;
}
.notifyListTitle
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	font-weight: bold;
	background-color: #FFCC99;
	font-style: italic;
}
.pmoErrorPanel
{
	border: 1px solid #000000;
	background-color: #C0C0C0;
}
.pmoProjectNoteField
{
	border-style: solid;
	border-width: 1px;
}
.pmoUserLabel
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}
.panelSurround
{
	border: 1px solid #000000;
}
.panelDisplaySurvey
{
	border: 1px solid #000000;
	background-color: #F0F0F0;
}
.thankYouLabel
{
  font-size: large;
	font-family:  Arial, Helvetica, sans-serif;
}
.resultLabel
{
  font-size: medium;
  font-family:  Arial, Helvetica, sans-serif;
  color: #0000FF;

/*                                        */
/* End PMO Survey Specific Applications Styles   */
/*                                        */