﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucStrippedHeader.ascx.vb" Inherits="PMO.ucStrippedHeader" %>
<%@ Register src="../Menus/ucStrippedMenu.ascx" tagname="ucStrippedMenu" tagprefix="uc1" %>
<table class="style1">
    <tr>
        <td>
            <asp:ImageButton ID="imgOstLogo" runat="server" Height="50px" 
                ImageUrl="~/Images/logo revised KL4 color PMS.jpg" />
        </td>
        <td width="90%">
            <asp:Label ID="Label1" runat="server" CssClass="appTitle" 
                Text="Project Management Office (PMO) Portal"></asp:Label>
        </td>
        <td>
            &nbsp;</td>
    </tr>
</table>
<uc1:ucStrippedMenu ID="ucStrippedMenu1" runat="server" />
