﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucRecommend.ascx.vb" Inherits="PmoSurvey.ucReccomend" %>
<style type="text/css">
  .style1
  {
    width: 100%;
  }
</style>
<table class="style1">
  <tr>
    <td align="center">
      <asp:Label ID="lblResult" runat="server" CssClass="resultLabel"></asp:Label>
    </td>
  </tr>
  <tr>
    <td align="center">
      &nbsp;</td>
  </tr>
  <tr>
    <td align="center">
      <asp:Label ID="lblResult2" runat="server" CssClass="resultLabel"></asp:Label>
    </td>
  </tr>
</table>
<p>
    &nbsp;</p>
