﻿body {
}
.appTitle
{
	font-family: Tahoma;
	font-size: x-large;
	font-weight: bold;
	color: #007DB2;
}
.pmoLink
{
	font-family: Tahoma;
	font-size: small;
	color: #0000FF;
	text-decoration: none;
}
.pmoLink:hover
{
	font-family: Tahoma;
	font-size: small;
	color: #0000FF;
	background-color: #C0C0C0;
	text-decoration: none;
}
.menuPanel
{
	background-color: #DFDFDF;
}
.menuLink
{
	font-family: Tahoma;
	font-size: small;
	color: #666666;
	text-decoration:none;
}
.menuLink:hover
{
	font-family: Tahoma;
	font-size: small;
	color: #000000;
	background-color: #999999;
	text-decoration: none;
}
.appPanel
{
	border: 1px solid #808080;
}
.appSowCreatePanel
{
	border: 1px solid #808080;
	background-color: #D6D8D8;
}

.appProjectListPanel
{
	border: 1px solid #808080;
	background-color: #C0C0C0;
}
.normalLabel
{
	font-family: Tahoma;
	font-size: small;
	color: #000000;
	font-weight: bold;
}
.normalField
{
	font-family: Tahoma;
	font-size: small;
	color: #000000;
}
.titleLabel
{
	font-family: Tahoma;
	font-size: small;
	color: #000000;
	font-weight: bold;
	background-color: #C0C0C0;
}
.messageLabel
{
	font-family: Tahoma;
	font-size: small;
	color: #FF0000;
}
