﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Validate.aspx.vb" Inherits="PmoSurvey.Validate" %>

<%@ Register src="../ucControls/ucHeader.ascx" tagname="ucHeader" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Validation Page - DB Access</title>
     <link href=../ost.css rel=Stylesheet />
</head>
<body>
    <form id="form1" runat="server">
    <asp:Panel runat="server" ID="centerPanel" CssClass="centeringPanel">
         <uc1:ucHeader ID="ucHeader1" runat="server" />
    <table width="100%">
    <tr>
    <td width="10%">
    </td>
    <td>
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
    </td>
    <td width="10%">
    </td>
    </tr>
    </table>
    </asp:Panel>
    </form>
</body>
</html>
