﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucStrippedMenu.ascx.vb" Inherits="PMO.ucStrippedMenu" %>
<asp:Panel ID="Panel1" runat="server" CssClass="menuPanel">
    <asp:LinkButton ID="lbHome" runat="server" CssClass="menuLink">Portal Home</asp:LinkButton>
</asp:Panel>
